Hi I am Buddy Magsipoc

%ul.projects
  %li= link_to "Philippine Online Gaming Latency Report", "https://keikun17.github.io/latency_survey"
  %li= link_to "MWO weapon and heat simulator (v1)", "https://keikun17.github.io/mwo_heat_simulator/"
  %li= link_to "MWO weapon and heat simulator (v2)", "https://github.com/keikun17/mwo-viewer"
  %li= link_to "SC2 games chart", "https://keikun17.github.io/sc2games-chart-client/"

